.app-wrapper{
  display: grid;
  grid-template-areas: 'h h h'
                        'n m m';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header{
  grid-area: h;
  background-color: bisque;
}

.nav{
  grid-area: n;
  background-color: brown;
}

.nav a{

  text-decoration: none;
  color: black;
}

.content{
  grid-area: m;
  background-color: darkgray;
}

.header img{
  width: 30px;

}