.app-wrapper{
  display: grid;
  grid-template-areas: 'h h h'
                        'n m m';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  height: 100vh;
}

.content{
  grid-area: m;
  background-color: darkgray;
  padding: 20px;
}

